@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.App {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color:#16193B;
    background-color: #7FB2F0;
}

header{
    height: 5vh;
    background-color: #35468c;
    width: 100%;
}

.contenedor-header{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5vh;
    .contenedor-busqueda-header{
        width: 100%;
        display: flex;
        justify-self: flex-end;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .busqueda-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color:white;
        padding: 0 1em;
        height: 5vh;
        transition: 0.3s;
    }
}

.contenedor-imagen-buscador-header img{
    height: 5vh;
}

.busqueda-header:hover{
    background-color: white;
    color: #35468c;
    cursor: pointer;
}

header img:hover{
    cursor: pointer;
    filter: brightness(0.8);
}

.mostrando-busqueda-header{
    display: flex;
    flex-direction: row;
    background-color: #ADD5F7;
    width: 100%;
    position: absolute;
    top:5vh;
    z-index: 4;
    overflow-x: scroll;
    img{
        transition: 0.5s;
        height: 32vh;
        margin: 0.5em;
        box-shadow: 4px 4px 8px #35478C;
    }
}

.mostrando-busqueda-header::-webkit-scrollbar {
    -webkit-appearance: none;
}

.mostrando-busqueda-header::-webkit-scrollbar:vertical {
    width:5px;
}

.mostrando-busqueda-header::-webkit-scrollbar-button:increment,.mostrando-busqueda-header::-webkit-scrollbar-button {
    display: none;
} 

.mostrando-busqueda-header::-webkit-scrollbar:horizontal {
    height: 7.5px;
}

.mostrando-busqueda-header::-webkit-scrollbar-thumb {
    background-color: #35468cbd;
    border-radius: 20px;
    border: 2px solid #35478C;
}

.mostrando-busqueda-header::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.mostrando-busqueda-header img:hover{
    opacity: 0.5;
    cursor: pointer;
}

.boton-cerrar-busquedas{
    width: 100%;
    background-color: #35468c62;
    height: 5vh;
    position: fixed;
    top:5vh;
    right: 10;
    z-index: 5;
    font-size: 200%;
    transition: 0.25s;
}

.boton-cerrar-busquedas:hover{
    cursor: pointer;
    background-color: #35468cab;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
INICIO
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 95vh;
    width: 100%;
    position: relative;
    background-image: url('./images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.buscador{
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    color:white;
    width: 100%;
    height: 40vh;
    font-size: 150%;
}

.buscador img{
    width: 17%;
}

.titulo-buscador{
    padding: 0.75em ;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    div{
        padding-bottom: 0.5em;
    }
}

.eleccion-buscador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    div{
        padding:0.5em 1.5em;
        margin: 0 0.5em;
        background-color: #35468c;
        color:#7FB2F0;
        border-radius: 15px 15px 0 0;
        transition: 0.5s;
    }
}

.eleccion-buscador div:hover{
    cursor: pointer;
}

.contenedor-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-right: 0.75em;
    input{
        all: unset;
        border-radius: 2em;
        padding: 0.5em;
        width: 90%;
        text-align: left;
        opacity: 0.8;
        color: #ADD5F7;
        background-color: #16193B;
    }
    div{
        position: absolute;
        background-color: #16193B;
        color: #ADD5F7;
        border-radius: 2em;
        padding: 0.5em;
        right: 5%;
    }
}

.contenedor-input div:hover{
    cursor: pointer;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
RESULTADOS DE BUSQUEDA
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.resultados-busqueda{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.busqueda-sin-resultado{
    padding: 5vh;
    color: white;
    font-size: 200%;
}

.contenedor-busquedas{
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    width:100%;
    overflow-y: auto;
    color: #16193B;
}

.busqueda-individual{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 95%;
    height:20vh;
    overflow:hidden;
    cursor: pointer;
    margin: 0.5em 0;
    box-shadow: 4px 4px 8px #16193B;
    border-radius: 9px;
    transition: 0.5s;
    position: relative;
    right: 0;
    background-color: #ADD5F7;
    color: #16193B;
    position: relative;
}

.busqueda-individual:hover{
    position: relative;
    right:-3px;
    box-shadow: 3px 10px 10px #16193B;
}

.busqueda-con-imagen{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.contenedor-imagen-busqueda-individual{
    width: 13.5%;
}

.contenedor-imagen-busqueda-individual  img{
    width: 100%;
    height: 100%;
}

.contenedor-texto-busqueda-individual{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 86.5%;
}

.busqueda-titulo{
    padding:0 1em 0.25em 1em;
    font-weight: bold;
}


.busqueda-genero{
    padding:0 1em 1em 1em;
    text-decoration: underline;
}

.busqueda-genero span{
    padding-right: 0.2em;
}

.busqueda-overview{
    padding:0 1em;
    width: 100%;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.contenedor-popularidad{
    padding: 0 1em;
    color: #ADD5F7;
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: #35478C;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
VER DATOS
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.viendo-datos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
}

.datos{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    text-align: left;
    font-size: 120%;
    padding: 0.5em;
    color: #ADD5F7;
    background-color: #16193B;
    width: 100%;
    height: 100%;
}

.datos img[alt="Volver"]{
    z-index: 4;
    height: 5vh;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}

.datos img[alt="Volver"]:hover{
    cursor: pointer;
    filter: brightness(0.8);
}

.fondo-caratula-pelicula{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0.1;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor-imagen-datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.contenedor-imagen-datos img{
    width: 100%;
}

.contenedor-informacion-datos{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    width: 50%;
    margin-left: 5%;
}

.titulo{
    font-size: 190%;
}

.fecha-estreno{
    text-decoration: underline;
    padding-bottom: 0.5em;
}

.genero{
    margin-right: 2em;
    font-size: 120%;
}

.sinopsis{
    margin: 0.8em 0;
    font-size: 130%;
}

.sinopsis span{
    font-size: 65%;
}

.peliculas-populares{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pelicula-popular{
    background-color: #F27A5E;
    border: solid 3px #D93B3B;
    color: #022E40;
    margin: 0.5em;
    cursor: pointer;
    padding:0.5em;
}

.pelicula-popular img{
    width: 50%;
}

.casting{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    img{
        width: 15vh;
        padding: 0.5em;        
    }
}

.casting::-webkit-scrollbar {
    -webkit-appearance: none;
}

.casting::-webkit-scrollbar:vertical {
    width:5px;
}

.casting::-webkit-scrollbar-button:increment,.casting::-webkit-scrollbar-button {
    display: none;
} 

.casting::-webkit-scrollbar:horizontal {
    height: 7.5px;
}

.casting::-webkit-scrollbar-thumb {
    background-color: #35468cbd;
    border-radius: 20px;
    border: 2px solid #35478C;
}

.casting::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.titulo-casting{
    font-size: 300%;
    color: white;
    text-align: left;
    padding: 0 0.5em;
}

.datos-actores{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 0.5em;
    border-radius: 3px;
    box-shadow: 4px 4px 8px #35478C;
}

.nombres{
    text-align: left;
    width: 15vh;
    padding: 0.25em;  
    span{
        font-weight: bold;
    }
}